#profile > img {

 width: 20%;
 position:center;

}

body {

  font-family: 'Prata', serif;
  background-image: url(./images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;

  
}

#tools_logo > img {
  width:70px;

}


#fblink {

  width: 35px;
}


#bgimage{
  width: 100%
}

